$font: 'IBM Plex Sans', sans-serif;
$blue: #004ACF;
$blue2: #473CC2;
$blue3: #0098C7;
$dark: #1B1F26;
$dark2: #727885;
$dark3: #101216;
$orange: #F85B51;
$grey: #E5E8ED;
$grey2: #F3F5F7;
$grey3: #E5E5E5;
$pink: #D045AE;
$red: #EB5757;
$green: #27AE60;
$yellow: #E8B006;
$grad: linear-gradient(228.29deg, #D045AE 0%, #473CC2 98.79%);

$p: 20px;