@import "variable";


::selection {
    color: #fff;
    background-color: $blue;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &:before,
    &:after {
        box-sizing: border-box;
    }

}

html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 21px;
    font-family: $font;
    color: $dark;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;

    &:hover {
        text-decoration: none;
    }
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;

    &-logo {
        width: 3.3330078125em;
    }

    &-comparison {
        width: 1.154296875em;
    }

    &-subscribe-free {
        width: 1.0830078125em;
    }

    &-subscribe-full {
        width: 0.892578125em;
    }
}

.btn {
    min-height: 60px;
    border-radius: 4px;
    padding: 5px 32px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    &-yellow {
        border: 2px solid $yellow;
        box-sizing: border-box;
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #fff;
        flex-direction: row;
        align-items: center;
        min-height: 80px;
        padding-left: 42px;
        padding-right: 39px;
        position: relative;

        &:hover:before {
            content: '';
            position: absolute;
            left: -4px;
            right: -4px;
            top: -4px;
            bottom: -4px;
            border: 2px solid $yellow;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px;
        }

        .icon {
            margin-right: $p*.5;
            font-size: 26px;
        }
    }

    &-text {
        font-size: 14px;
        line-height: 18px;

        &2 {
            font-size: 10px;
            line-height: 13px;
            color: transparentize(#fff, .5);
        }
    }

    &-border {
        border: 1px solid $dark2;
        position: relative;

        &:hover:after {
            content: '';
            position: absolute;
            left: -2px;
            bottom: -2px;
            right: -2px;
            top: -2px;
            border: 1px solid $dark2;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

        &-gradient {
            position: relative;

            span {
                position: relative;
                z-index: 3;

                &.btn-text2 {
                    margin-top: 5px;
                }
            }

            &:before {
                content: '';
                position: absolute;
                left: -1px;
                right: -1px;
                top: -1px;
                bottom: -1px;
                background-image: $grad;
                border-radius: 4px;
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: $dark;
                border-radius: 4px;
            }

            &:hover:before {
                left: -2px;
                right: -2px;
                top: -2px;
                bottom: -2px;
            }
        }
    }

    &-gradient {
        background-image: $grad;
        min-width: 240px;
        position: relative;
        text-align: center;
        text-decoration: none;
        color: #fff;
        border: none;
        min-height: 72px;

        &:hover {
            box-shadow: 8px 8px 16px rgba(208, 69, 174, 0.5);
        }

        .btn-text2 {
            margin-top: 5px;
        }

        .icon-next {
            position: absolute;
            right: $p;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
            font-size: 18px;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100%;
    background-color: $grey2;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.header {
    flex: 0 0 auto;
    color: #fff;
    padding-top: $p * 3;
    background-color: $dark;

    .container {
        display: flex;
        justify-content: space-between;
    }

    &-nav {
        display: flex;
    }

}

.nav {
    &-mobile {

        &-button {
            padding: 10px;
            display: none;
        }
    }

    &-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
    }

    &-item {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #fff;
        margin-left: $p*2;
    }

    &-link {
        transition: all .3s;
        opacity: 0.5;

        &:hover,
        &.current {
            opacity: 1;
        }
    }

    &-button {
        display: flex;
        align-items: center;

        .btn {
            margin-left: $p*2;
        }
    }
}

.table {
    table {
        border-collapse: collapse;
        width: 100%;
        border-top: 1px solid $grey;

        th {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            color: $dark2;
            padding-top: 16px;
            padding-bottom: 16px;
            border-bottom: 1px solid $grey;
        }

        td {
            font-size: 16px;
            line-height: 21px;
            color: $dark;
            text-align: center;
            padding-top: 16px;
            padding-bottom: 16px;
            border-bottom: 1px solid $grey;
        }
    }
}

.subscribe {

    &-table {
        th {
            width: 240px;
        }

        &-text {
            font-weight: 500;
            font-size: 10px;
            line-height: 200%;
            text-align: center;
            text-transform: uppercase;
            color: $dark2;
        }
    }

    &-tabs {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &-mobile {
            display: none;
            border-top: 1px solid $grey;
            width: calc(100vw - 56px);
            position: relative;
            z-index: 2;
            padding-bottom: $p;

            &-item {
                border-bottom: 1px solid $grey;
                padding-top: 16px;
                padding-bottom: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-title {
                padding-right: 16px;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                text-transform: uppercase;
                color: $dark2;
            }

            &-text {
                flex: 0 0 50%;
                text-align: right;
                color: $yellow;
                font-size: 16px;
                line-height: 21px;

                .subscribe-table-text {
                    text-align: right;
                }
            }
        }

        &-item {
            flex: 0 0 220px;
        }

        &-head {
            width: 100%;
            height: 130px;
            padding: $p;
            position: relative;
            border-radius: 8px;
            margin-bottom: $p*3;

            &-free {
                background-color: transparentize($dark2, .6);

                .btn-subscribe {
                    background-color: $dark2;
                    color: transparentize(#fff, .5);
                }
            }

            &-base {
                background-color: transparentize($yellow, .6);
                color: $yellow;

                .btn-subscribe {
                    background-color: $yellow;
                    color: #fff;
                }
            }

            &-full {
                background-color: transparentize($blue3, .6);
                color: $blue3;

                .btn-subscribe {
                    background-color: $blue3;
                    color: #fff;
                }
            }
        }

        &-title {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            display: flex;
            align-items: center;

            .icon {
                font-size: 26px;
                margin-right: 8px;
            }
        }

        &-price {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            margin-left: 34px;

            strong {
                font-size: 24px;
                line-height: 31px;
            }
        }

        &-button {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -24px;

            .btn {
                height: 48px;
                border: none;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }

    &-head {
        display: flex;
        align-items: center;

    }

    &-type {
        flex: 0 0 240px;

        &-item {
            margin-top: $p;
            margin-bottom: $p;
        }

        &-text {
            border-bottom: 1px dashed;
            color: $dark2;
            margin-left: 8px;
            margin-right: 8px;
            cursor: pointer;

            &.current {
                background-color: $blue;
                border-radius: 4px;
                border-bottom: none;
                color: #fff;
                padding-left: 8px;
                padding-right: 8px;
                margin-left: 0;
                margin-right: 0;
            }

            &:hover {
                border-bottom: none;
            }
        }

        &-percent {
            color: #fff;
            height: 24px;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            background-color: $green;
            border-radius: 4px;
            padding-left: 8px;
            padding-right: 8px;
            margin-left: 8px;
        }
    }
}


.tabs {
    display: flex;

    &-wrap {
        position: relative;
        border-top: 1px solid $grey;
        padding-top: $p;
    }

    &-item {

        &-dropdown {
            float: left;
            width: 100%;
            max-height: 0;
            transition: opacity .9s, opacity .6s;
            overflow: hidden;
            opacity: 0;
            position: absolute;
            border-top: 1px solid $grey;
            margin-top: $p;
        }

        &-title {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            margin-right: $p;
            position: relative;
            cursor: pointer;
            color: $dark2;
            transition: all .3s;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                transition: all .3s;
                height: 1px;
                background-image: $grad;
                opacity: 0;
            }

            &:hover,
            &.active {
                color: $dark;

                &:before {
                    opacity: 1;
                    bottom: -21px;
                }
            }
        }

        &-input {
            display: none;

            &:checked {
                +.tabs-item-title {
                    color: $dark;

                    &:before {
                        opacity: 1;
                        bottom: -21px;
                    }

                    +.tabs-item-dropdown {
                        max-height: 100vh;
                        padding-top: 32px;
                        opacity: 1;
                        position: static;
                    }
                }

            }
        }
    }

}


.logo {

    &-link {
        display: flex;
    }
}


.breadcrumbs {
    margin-bottom: 45px;

    &-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 18px;
        line-height: 110%;
        list-style-type: none;
    }

    &-item {
        margin-right: 5px;
        margin-bottom: 5px;
    }

    &-link {
        transition: all .3s;

        &:hover {
            color: $orange;
        }
    }

    &-current {
        color: $orange;
    }
}

.page {
    padding-top: 30px;
    padding-bottom: 30px;

    &-padding {
        padding-left: calc(8.33% + 30px);
        padding-right: calc(8.33% + 30px);
    }
}

.opportunities {
    display: flex;

    &-list1 {
        flex: 0 0 25%;
        padding: $p;

        .opportunities {
            &-item {
                margin-bottom: 12px;
            }

            &-link {
                height: 120px;
                display: flex;
                align-items: center;
                transition: all .3s;
                border: 1px solid $grey;
                padding: $p*1.5;
                border-radius: 4px;
                position: relative;

                &:hover,
                &.active {
                    box-shadow: 8px 8px 8px rgba(27, 31, 38, 0.102);

                    .opportunities-link-text {
                        color: #727885;
                    }

                    &:before,
                    &:after {
                        opacity: 1;
                        filter: drop-shadow();
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    right: -20px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 20px 0 20px 20px;
                    border-color: transparent transparent transparent #ffffff;
                    opacity: 0;
                    transition: all .3s;
                }

                &:before {
                    content: '';
                    position: absolute;
                    right: -21px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 20px 0 20px 20px;
                    border-color: transparent transparent transparent $grey;
                    opacity: 0;
                }

                &-text {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    padding-left: 15px;
                    transition: all .3s;
                    text-transform: uppercase;
                    max-width: 160px;
                }

                &-ico {
                    flex: 0 0 60px;
                    width: 60px;
                    height: 60px;
                    background-color: $grey;
                    border-radius: 50%;
                }
            }
        }
    }


    &-list2 {
        flex: 0 0 33.3333%;
        padding: $p;
        display: none;

        &.active {
            display: block;
        }

        .opportunities {
            &-item {
                margin-top: -1px;
            }

            &-link {
                background: #fff;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                transition: all .3s;
                border: 1px solid $grey;
                padding: 0 $p;
                border-radius: 4px;



                &:hover,
                &.active {
                    transform: translate(4px, 4px);
                    box-shadow: 8px 8px 8px rgba(27, 31, 38, 0.102);
                    position: relative;

                    .opportunities-link-text {
                        color: #1c1f26;
                    }

                    .opportunities-link-ico {
                        color: #747786;
                    }
                }

                &-text {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    padding-left: 15px;
                    transition: all .3s;
                    color: $blue;
                    text-transform: uppercase;
                }

                &-ico {
                    overflow: hidden;
                    font-size: 16px;
                    color: #b9bcc1;
                    transition: all .3s;
                    width: 10px;
                    height: 18px;

                    .icon {
                        width: auto;
                        height: auto;
                    }
                }
            }
        }
    }

    &-article {
        padding-top: $p;
        padding-left: $p*3;
        display: none;

        &.active {
            display: block;
        }

        &-link {
            margin-top: 40px;

            .link {
                display: flex;
                align-items: center;
                color: $blue2;
                font-weight: 500;
                font-size: 10px;
                line-height: 13px;
                text-transform: uppercase;

            }

            &-ico {
                width: 46px;
                height: 46px;
                border-radius: 50%;
                border: 10px solid transparentize($blue2, .8);
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                margin-right: 10px;

                &:hover {
                    border: 10px solid transparentize($blue2, 0.7);
                }

                &:before {
                    content: '';
                    position: absolute;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    background-color: transparentize($blue2, .2);
                }

                .icon {
                    position: relative;
                    z-index: 1;
                    color: #fff;
                    font-size: 16px;
                }
            }
        }

        .text .text-title {
            margin-bottom: 25px;
        }

        .text p {
            color: $dark2;
            font-size: 16px;
            line-height: 21px;
        }
    }

    &-video {
        margin-bottom: $p*3;
    }
}

.video {
    &-img {
        display: flex;
        position: relative;
        box-shadow: 8px 8px 32px rgba(71, 60, 194, 0.16);
        border-radius: 4px;
        overflow: hidden;

        img {}

        .icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            font-size: 60px;
        }
    }
}


.evolutions {
    &-container {
        display: flex;
        align-items: flex-end;
        transform: translateY(-$p*10);
        justify-content: space-between;
    }

    &-article {
        flex: 0 0 1;

        &>* {
            max-width: 650px;
        }

        p {
            font-size: 18px;
            line-height: 23px;
            letter-spacing: -0.005em;
        }

        .section-title {
            margin-bottom: 37px;
        }
    }

    &-img {
        flex: 0 0 540px;
        display: flex;
        justify-content: center;
        margin-bottom: 42px;
        margin-right: 10px;
    }

    &-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 40px;
    }

    &-item {
        position: relative;
        font-weight: bold;
        color: $dark2;

        &1 {
            font-size: 16px;
            line-height: 21px;
            opacity: 0.3;
        }

        &2 {
            font-size: 17px;
            line-height: 22px;
            opacity: 0.4;
        }

        &3 {
            font-size: 18px;
            line-height: 23px;
            opacity: 0.5;
        }

        &4 {
            font-size: 19px;
            line-height: 25px;
            opacity: 0.6;
        }

        &5 {
            font-size: 20px;
            line-height: 26px;
            opacity: 0.7;
        }

        &6 {
            font-size: 21px;
            line-height: 27px;
            opacity: 0.8;
        }

        &7 {
            font-size: 22px;
            line-height: 29px;
            opacity: 0.9;
        }

        &8 {
            font-size: 23px;
            line-height: 30px;
        }

        &9 {
            text-align: right;

            .icon {
                font-size: 90px;
                fill: url(#gradient);
            }
        }
    }

    &-item-def {
        width: 20px;
        height: 2px;
        display: inline-block;
        vertical-align: middle;
        background-color: $dark;

        &-item1 {
            opacity: 0.3;
        }

        &-item2 {
            opacity: 0.4;
        }

        &-item3 {
            opacity: 0.5;
        }

        &-item4 {
            opacity: 0.6;
        }

        &-item5 {
            font-size: 20px;
            line-height: 26px;
            opacity: 0.7;
        }

        &-item6 {
            opacity: 0.8;
        }

        &-item7 {
            opacity: 0.9;
        }

        &-item8 {}

        &-item9 {}
    }
}

.benefit {
    margin-top: -120px;
    background-color: $dark;
    color: #fff;
    text-align: center;
    padding-top: $p*4;
    padding-bottom: $p*3;

    .evolutions-article>* {
        margin-left: auto;
        margin-right: auto;
    }

    .evolutions-article .section-title {
        margin-bottom: 22px;
    }

    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $p*4;
    }

    &-item {
        margin-left: 20px;
        margin-right: 20px;
        background-color: #fff;
        padding: $p*3;
        height: 320px;
        flex: 0 0 320px;
        border-radius: 8px;
        box-sizing: border-box;

        &-center {
            height: 400px;
            padding-left: 55px;
            padding-right: 55px;

            .benefit-item-price {
                color: $green;
            }
        }

        &-logo {
            margin-bottom: $p*3;
            display: flex;
            justify-content: center;
        }

        &-text {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            color: #000;
            margin-bottom: 8px;
        }

        &-price {
            font-weight: bold;
            font-size: 36px;
            line-height: 47px;
            color: $red;
        }

        &-button {
            margin-top: $p*3;

            .btn {
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                min-width: auto;
                font-size: 14px;
                min-height: 60px;
            }
        }
    }

    &-container {}

    &-range {
        &-wrap {
            margin-bottom: $p*4;
        }

        &-container {
            max-width: 500px;
            margin: auto;

            .irs--flat {
                .irs-line {
                    height: 4px;
                    border-radius: 2px;
                    background-color: rgba(0, 0, 0, 0.5);
                }

                .irs-bar {
                    height: 4px;
                    background-image: $grad;
                }

                .irs-handle {
                    width: 30px;
                    height: 30px;
                    background: $dark;
                    border: 2px solid $pink;
                    box-shadow: 0px 4px 16px rgba(208, 69, 174, 0.5);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 12px;
                    cursor: pointer;

                    >i:first-child {
                        width: 8px;
                        height: 8px;
                        background-color: $pink;
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        margin-left: 0;
                    }
                }
            }

        }

        &-text {
            font-weight: bold;
            font-size: 36px;
            line-height: 47px;
            margin-top: $p;
        }
    }

    .section-subtitle {
        color: $grey;
    }
}

.cloud {
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 80px;

    .evolutions-article>* {
        margin-left: auto;
        margin-right: auto;
        max-width: 770px;
    }

    .evolutions-article .section-title {
        margin-bottom: 22px;
    }

    .section-subtitle {
        color: $dark2;
        font-size: 18px;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: $p*2;
    }

    &-item {
        transition: all .3s;
        padding: $p*2;

        &-wrap {
            flex: 0 0 33.3333%;
            padding: $p;

            &:nth-child(5),
            &:nth-child(6) {
                .cloud-item {
                    padding-left: 32px;
                    padding-right: 32px;
                }
            }
        }

        &:hover {
            box-shadow: 8px 8px 32px rgba(71, 60, 194, 0.16);
            border-radius: 8px;
        }

        &-ico {
            margin-bottom: $p+7;
            min-height: 60px;
        }

        &-title {
            margin-bottom: $p+3;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
        }

        &-text {
            color: $dark2;
        }


    }
}

.automation {
    background-color: $grey2;
    padding-top: $p*2;
    padding-bottom: $p*2;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 900px;
        height: 360px;
        right: calc(50% + 60px);
        top: 50%;
        transform: translateY(-50%);
        background: $grad;
        border-radius: 0px 40px 40px 0px;
    }

    &-container {
        display: flex;
        align-items: center;
    }

    &-img {
        flex: 0 0 50%;
        position: relative;

        img {
            margin-left: -156px;
        }
    }

    &-article {
        padding-top: 40px;
        padding-left: 20px;
        box-sizing: border-box;
        flex: 0 0 50%;

        &.text {
            .h1 {
                margin-bottom: 40px;
            }

            p {
                font-size: 18px;
                line-height: 23px;
                letter-spacing: -0.005em;
                margin-bottom: 23px;
            }
        }
    }
}

.comparison {

    &-tabs {
        display: none;
        transform: translateY(-$p*5.5);

        &-head {
            display: flex;
            justify-content: space-between;
            overflow-x: auto;
            padding-bottom: $p*.5;

            &-item {
                flex: 0 0 80px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                background-color: #fff;
                padding: $p*.5;
                font-size: 64px;
                margin-right: $p*.5;

                &.active {
                    background-image: $grad;
                    color: #fff;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &-content {
            border-radius: 8px;
            background-color: #fff;
            padding-top: $p;
            padding-bottom: $p;
            font-size: 10px;
            line-height: 12px;
            font-weight: 500;
            text-transform: uppercase;
        }

        &-title {
            padding-right: $p;
            color: $dark2;
            display: flex;
            align-items: center;
        }

        &-text {
            color: $dark;
            flex: 0 0 50%;
            text-align: center;
        }

        &-hide {

            border-top: 1px solid $grey;

            &-item {
                border-bottom: 1px solid $grey;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: $p*.5;
                padding-bottom: $p*.5;
            }
        }
    }

    &-hint {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: $p*.5;
        border-radius: 50%;
        border: 1px solid $grey;
        width: 20px;
        height: 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: transparentize($dark2, .5)
    }

    &-th {
        display: inline-flex;
    }

    &-table {
        padding-bottom: 20px;
        padding-top: 9px;
        padding-left: $p;
        padding-right: $p;
        overflow: hidden;

        td.no,
        th.no {
            width: 40px;
            padding: 0;
            border: 0
        }

        table {
            border-collapse: collapse;
            width: 100%;
            max-width: 1400px;
            margin: auto;
        }

        td {
            position: relative;
            text-align: center;
            border-bottom: 1px solid $grey;
            padding-top: $p;
            padding-bottom: $p;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            width: 200px;
        }

        th {
            position: relative;
            border-bottom: 1px solid $grey;
            padding-top: $p;
            padding-bottom: $p;
            text-align: left;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: $dark2;
            text-transform: uppercase;
        }

        tbody {

            tr {
                position: relative;

                th {
                    width: 31.5%;
                }

                &:hover {

                    td:after,
                    th:after {
                        content: '';
                        background: linear-gradient(360deg, #FFFFFF 0%, transparentize(#473CC2, .9) 50.52%, #FFFFFF 100%);
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                    }

                    .comparison-th {
                        background: $grad;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    td:first-child:before,
                    th:first-child:before {
                        content: '';
                        background: linear-gradient(360deg, #FFFFFF 0%, transparentize(#473CC2, .9) 50.52%, #FFFFFF 100%);
                        position: absolute;
                        left: -200px;
                        width: 200px;
                        top: 0;
                        height: 100%;
                    }

                    td:last-child:before,
                    th:last-child:before {
                        content: '';
                        background: linear-gradient(360deg, #FFFFFF 0%, transparentize(#473CC2, .9) 50.52%, #FFFFFF 100%);
                        position: absolute;
                        right: -200px;
                        width: 200px;
                        top: 0;
                        height: 100%;
                    }
                }
            }
        }



        thead {
            font-weight: bold;
            font-size: 24px;
            line-height: 31px;

            th {
                text-align: center;
                padding-left: $p;
                padding-right: $p;
            }
        }

        &-thead {
            text-align: left;
            background: $grad;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 24px;
            line-height: 31px;
            text-transform: none;
            margin-left: -20px;
            font-weight: bold;
        }
    }
}

.section {

    &-page {
        &-head {
            background-color: $dark;
            color: #fff;
            text-align: center;
            padding-top: 82px;
            padding-bottom: 228px;

            h1,
            .h1 {
                font-weight: 300;
                font-size: 40px;
                line-height: 52px;
            }
        }

        &-content {
            background-color: $grey3;
            margin-bottom: -67px;

            .container {
                max-width: 1560px;
                background-color: #FFFFFF;
                border-radius: 8px;
                transform: translateY(-147px);
                padding-top: $p;
                padding-bottom: $p*2;
            }
        }
    }

    &-text {
        background-color: #fff;
        padding-top: $p*4;
        padding-bottom: $p*4;

        &-grey {
            background-color: $grey2;
            padding-top: $p*4;
            padding-bottom: $p*4;

            .section-text-img {
                justify-content: flex-start;
            }

            .section-text-article {
                padding-left: 20px;
                padding-top: 20px;

                .btn-border-gradient {
                    text-decoration: none;
                    margin-top: $p+7;

                    &:after {
                        background-color: $grey2;
                    }
                }
            }

        }

        &-container {
            display: flex;
            align-items: center;

        }

        &-article {
            flex: 0 0 50%;

            &.text .h1 {
                margin-bottom: 40px;
            }

            &.text p {
                font-size: 18px;
                line-height: 23px;
                color: #1B1F26;
                letter-spacing: -0.005em;
                max-width: 610px;
            }

            .btn-border-gradient {
                text-decoration: none;
                margin-top: $p+7;

                &:after {
                    background-color: #fff;
                }
            }
        }

        &-img {
            flex: 0 0 50%;
            text-align: right;
            display: flex;
            justify-content: flex-end;

            &-mobile {
                display: none;

                img {
                    box-shadow: 8px 8px 32px rgba(71, 60, 194, 0.16);
                    border-radius: 4px;
                }
            }

            img {
                box-shadow: 8px 8px 32px rgba(71, 60, 194, 0.16);
                border-radius: 4px;
            }
        }
    }

    &-title {
        margin-bottom: $p;
    }

    &-subtitle {
        font-weight: 300;
    }

    &-opportunities {
        &-container {
            background-color: #FFFFFF;
            border-radius: 8px;
            transform: translateY(-$p*4);
            position: relative;
            padding: $p*3;
            max-width: 1560px;

            .section-title {
                padding: $p;
            }
        }
    }

    &-top {
        background-position: bottom center;
        text-align: center;
        background-image: url(../img/main-background.png);
        background-repeat: no-repeat;
        background-color: $dark;
        color: #fff;
        height: 840px;
        padding-top: 160px;

        &-container {
            height: 100%;
            max-width: 660px;
        }

        &-text {
            font-weight: 300;
            font-size: 40px;
            line-height: 52px;
            margin-bottom: $p*2;
        }
    }
}

.content {
    flex: 1 0 auto;
}

.text {

    &-title {
        margin-bottom: $p;
    }

    h1,
    .h1 {
        font-weight: bold;
        font-size: 36px;
        line-height: 47px;
    }

    h2,
    .h2 {
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
    }

    p {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 150%;
    }

    ul {
        margin-top: 15px;
        margin-bottom: 15px;
        list-style-type: none;
    }

    li {
        position: relative;
        padding-left: 15px;
        margin-top: 5px;
        margin-bottom: 5px;

        &:before {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $orange;
            position: absolute;
            left: 0;
            top: 5px;
        }
    }

    a {
        text-decoration: underline;
        transition: all .3s;

        &:hover {
            text-decoration: none;
        }
    }
}

.form {
    &-item {
        margin-bottom: $p*2;

        input {
            background-color: inherit;
            border: none;
            border-bottom: 1px solid $dark2;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            font-family: $font;
            color: #fff;
            height: 60px;
            width: 100%;
            position: relative;

            &:focus {
                outline: none;
                border-width: 1px;
                border-style: solid;
                border-image: linear-gradient(45deg, #D045AE, #473CC2) 1;
                border-top: 0;
                border-left: 0;
                border-right: 0;
            }
        }
    }

    &-button {
        .btn {
            justify-content: center;
            align-items: center;
        }
    }
}

.popup {
    padding: $p*2;
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    &-title {
        margin-bottom: $p*1.5;
    }
}


.create {

    &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: $p*1.5;

        &-total {
            font-weight: bold;
            font-size: 24px;
            line-height: 31px;
        }

        &-button {
            .btn {
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                text-transform: uppercase;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &-title {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: $p*.5;
    }

    &-subtitle {
        font-weight: 500;
        font-size: 10px;
        line-height: 13px;
        color: transparentize($dark2, .5);
        display: block;
        flex: 0 0 100%;
    }

    &-list {}

    &-item {
        padding-top: $p;
        padding-bottom: $p;
        border-top: 1px solid $grey;
        display: flex;
        justify-content: space-between;

        &:last-child {
            border-bottom: 1px solid $grey;
        }

        &-input {

            input {
                border: 1px solid #E5E8ED;
                box-sizing: border-box;
                border-radius: 4px;
                padding: $p*.5;
                width: 380px;
                font-size: 16px;
                line-height: 21px;
                font-family: $font;
            }
        }
    }

    &-checkbox {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        color: $dark2;
        padding-right: $p;

        input {
            visibility: hidden;
            position: absolute;

            &:checked {
                +.create-checkbox-toggle {
                    filter: grayscale(0%);

                    &:before {
                        left: calc(100% - 30px);
                    }
                }
            }
        }

        &-toggle {
            width: 56px;
            height: 32px;
            background-color: $dark2;
            background-image: $grad;
            filter: grayscale(100%);
            border-radius: 16px;
            transition: all .3s;
            position: relative;
            margin-right: 16px;

            &:before {
                content: '';
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                top: 2px;
                left: 2px;
                transition: all .3s;
            }
        }
    }
}


.footer {
    flex: 0 0 auto;

    &-bottom {
        background-color: $dark3;
        height: 60px;

        &-text {
            font-weight: 500;
            font-size: 10px;
            line-height: 13px;
            text-transform: uppercase;
            color: $dark2;

            &:hover {
                color: #fff;
            }
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }

    &-form {
        padding-top: $p*4;
        padding-bottom: $p*4;
        background-color: $dark;
        color: #fff;
        text-align: center;

        .section-title {
            margin-bottom: 60px;
        }

        .container {
            position: relative;
        }

        &-wrap {
            max-width: 320px;
            margin: auto;
        }

        &-decor {
            position: absolute;

            &1 {
                left: 0;
                top: 0;
            }

            &2 {
                left: 240px;
                top: 155px;
            }

            &3 {
                right: 150px;
                top: 120px;
            }
        }

        .form-button .btn {
            min-width: 200px;
            min-height: 60px;
            padding-left: 28px;
            padding-right: 28px;
        }
    }
}


button.mfp-close {
    text-indent: -9999em;
    width: 23px;
    height: 23px;
    right: 40px;
    top: 40px;
    background: url("../img/popup-close.svg") no-repeat center center;
}

.popup-title {
    display: none;
}

.mfp-bg {
    background: #1B1F26;
    opacity: 0.92;
}

.mfp-container:before {
    display: none;
}




///////////////////section morefunc start



.section-morefunc {
    padding-top: 80px;
}

.morefunc-container {}


.morefunc-article.text {
    text-align: center;

    .section-title {}

    .h1 {}
}

.morefunc-subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #727885;
}

.morefunc-block {
    display: flex;justify-content: center;
}

.morefunc-b-item {
    width: 100%;
    max-width: calc(25% - (40px * 3 + 1) / 4);
    padding: 40px;
    box-sizing: border-box;
    &:not(:last-child){
        margin-right: 20px;
    }
    &:not(:first-child){
        margin-left: 20px;
        background: #FFFFFF;
        border-radius: 4px;
    }
    &__logo {
        height: 57px;
        width: 100%;
        display: flex;
        justify-content: center;

    img {}
    }

    &__progress {}



}

.morefunc-b-item-progress-filling {}

.morefunc-b-item-progress-filling-layer-1 {}

.morefunc-b-item-progress-filling-layer-2 {}

.morefunc-b-item-progress-filling-layer-3 {}

.morefunc-compare-button-wrap {}

.morefunc-compare-button {}

///////////////////section morefunc end



@import "media";